<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <!-- Add further Bootstrap links-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
  <!--Vue.js-->
  <script src="https://unpkg.com/vue@next"></script>
  <!--Own CSS link-->
  <link rel="stylesheet" href="../style.css">
  <title>Opret bil</title>
</head>

<body>
  <div id="addCar">
     <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark navStyling">
      <a class="navbar-brand" href="../index.html">
        <img style="height: 60px; width: auto;" src="/img/mit lift-logos_transparent.png" alt="png">
      </a>
      <a href="../index.html" class="text-white">MitLift</a>&nbsp;
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="/Pages/mineLift.html">Find et lift</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/Pages/addLift.html">Opret et lift</a>
          </li>
        </ul>
      </div>
      <!--NAV SHOW/HIDE BTN-->
      <div class="navbar position-relative top-0 end-0">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="styleNavDropdown mr-3" href="/Pages/createAccount.html">Opret konto</a>

            <div v-if="!email">
              <script>
                function myFunction() {
                  document.getElementById("mainFrameOne").style.display = "none";
                  document.getElementById("mainFrameTwo").style.display = "block";
                }
              </script>
              <a id="mainFrameOne" onclick="myFunction()" href="/Pages/login.html"> Log ind </a> <br>
              <a id="mainFrameTwo" onclick="myFunction()" href="index.html" style="display:none;"> Log ud </a>
              <!-- <a class="styleNavDropdown" href="/Pages/login.html">Log ind</a> <br> -->
            </div>
            <div v-if="email">
              <button class="styleNavDropdown" @click="logud">Log ud</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="navbar position-relative top-0 end-0">
        <!-- Dropdown -->
        <a class="dropdown-toggle styleNavDropdown" href="#" id="navbardrop2" data-toggle="dropdown"
          animation-name="example">
          <img src="/img/Profile Pic Icon.png" width="45" height="50">
        </a>
        <div class="dropdown-menu">
          <!-- <a class="dropdown-item" href="/Pages/mineBiler.html">Mine Biler</a> -->
          <!-- <a class="dropdown-item" href="/Pages/mineLift.html">Mine Lift</a> -->
          <!-- <a class="dropdown-item" href="/Pages/AddCar.html">Tilføj ny Bil</a> -->
          <a class="dropdown-item" href="/Pages/mineKonto.html">Min side</a>
          <a class="dropdown-item" href="#">Log ud</a>
          <a class="dropdown-item" href="#">Hjælp</a>
        </div>
      </div>
    </nav>

    <div class="row" style="margin:auto">
      <div class="col-4">
        <!-- col-1 -->
      </div>
      <div class="col-4 container">

      </div>
      <div class="col-4">
        <!-- col-2 -->
      </div>
    </div>

    <h1 class="font-weight-light text-center">Opret bil</h1>

    <div class="row" style="margin:auto">
      <div class="col-4">
        <!-- col-1 -->
      </div>

      <div class="col-4 border p-3 mb-2 border formStyling">
        <p>{{ addData }}</p>
        <div class="row"  style="margin:auto">
          <div class="col-sm">
            <label for="model">Vælg brugernavn</label>
            <br>
            <select class="form-control" name="accountId" v-model="addData.accountId">
              <option v-bind:value="account.accountId" v-for="account in accountArray">
                {{ account.userName }}
              </option>
            </select>
          </div>
          <div class="col-sm">
            <label for="model">Bil mærke</label>
            <input class="form-control" v-model="addData.brand" placeholder="bil mærke..." type="text" /> <br>
          </div>
        </div>
        &nbsp;
        <div class="row" style="margin:auto">
          <div class="col-sm">
            <label for="model">Bil model</label>
            <input class="form-control" v-model="addData.model" placeholder="bil model..." type="text" /> <br>
          </div>
          <div class="col-sm">
            <label for="model">Vælg brændstof</label> <br>
            <select class="form-control" name="fuelType" v-model="addData.fuelType">
              <option>Benzin</option>
              <option>Diesel</option>
              <option>El</option>
              <option>Hybrid</option>
            </select>
          </div>
        </div>
        &nbsp;

        <!-- <div class="form-group">
          <label for="model">Brugernavn </label>
          <br>
          <select name="accountId" v-model="addData.accountId">
            <option v-bind:value="account.accountId" v-for="account in accountArray">
              {{ account.userName }}
            </option>

          </select>
        </div>
        <div class="form-group">
          <label for="model">Bil mærke</label>
          <input class="form-control" v-model="addData.brand" placeholder="brand..." type="text" /> <br>
        </div>
        <div class="form-group">
          <label for="model">Bil model</label>
          <input class="form-control" v-model="addData.model" placeholder="model..." type="text" /> <br>
        </div>
        <label for="model">Fuel type</label> <br>
        <select name="fuelType" v-model="addData.fuelType">
          <option>Gas</option>
          <option>Diesel</option>
          <option>El</option>
          <option>Hybrid</option>
        </select>
        <br> -->
        <!--input class="form-control" v-model="addData.fuelType" placeholder="fuelType..." type="text" /--> <br>
        <div class="d-flex justify-content-end">
          <button type="button" v-on:click="postCarRides()" class="btn backBtnStyle">Tilbage</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" v-on:click="postCar()" class="btn logindBtnStyle">Opret</button>

        </div>
        <!-- <button type="button" v-on:click="postCar()" class="btn logindBtnStyle">Opret
        </button> -->

        <div class="p-3" style="background-color: rgba(255,0,0,0.1); width: 60%;" v-if="addMessage">
          <!--addMessage en var der er blevet erklæret, så vi kan bruge den til output-->
          <!--Output is the below-->
          {{ addMessage }}
        </div>
      </div>
      <div class="col-4">
        <!-- col-2 -->
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--FOOTER-->
    <footer id="footer" class="footerStyling">
      <div class="container-fluid p-1">
        <div class="row" style="margin:auto">
          <div class="text-white p-3">
            Kontakt os <br>
            © 2023 Copyright: <br>
            <a class="text-white" href="https://mdbootstrap.com/">MitLift.dk</a>
          </div>
          <!-- Section: Social media section -->
          <section class="col-sm text-center">
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
          </section>
          <div class="p-3 text-white">
            <a class="text-white" href="/Pages/omOs.html">Om os</a> <br>
            Privatlivspolitik <br>
            <a class="text-white" href="/Pages/Regler.html">Regler</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- FOOTER END -->

    <script src="/addCar.js"></script>
  </div>
</body>


</html>