<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/x-icon" href="/img/mit lift-logos_black fav_icon.png">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <!-- Add further Bootstrap links-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
  <!--Vue.js-->
  <script src="https://unpkg.com/vue@next"></script>
  <!--Own CSS link-->
  <link rel="stylesheet" href="../style.css">
  <title>Log Ind</title>
</head>

<body>
  <div id="login">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark navStyling">
      <a class="navbar-brand" href="../index.html">
        <img style="height: 60px; width: auto;" src="/img/mit lift-logos_transparent.png" alt="png">
      </a>
      <a href="../index.html" class="styleNavDropdown">MitLift</a>&nbsp;
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span
          class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        </ul>
      </div>
      <div class="nav-item">
        <a class="styleNavDropdown mr-3" href="/Pages/login.html"> Log ind </a> <br>
        <a class="styleNavDropdown mr-3" href="/Pages/createAccount.html">Opret konto</a>
      </div>
      <div class="navbar position-relative top-0 end-0">
        <!-- Dropdown -->
        <a class="dropdown-toggle styleNavDropdown" href="#" id="navbardrop2" data-toggle="dropdown"
          animation-name="example">
          <img src="/img/Profile Pic Icon.png" width="45" height="50">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/Pages/mineKonto.html">Min side</a>
          <a class="dropdown-item" href="#">Log ud</a>
          <a class="dropdown-item" href="#">Hjælp</a>
        </div>
      </div>
    </nav><!--NAV SLUT-->

    <div class="container">
      <h2 class="font-weight-light text-center">Log ind eller opret en konto</h2>

      <div class="row" style="margin:auto">
        <div class="col-sm">
        </div>
        <div class="col-sm-6 p-3 mb-2 border formStyling">
          <div class="form-group">
            <label for="brugernavn">Brugernavn</label>
            <input v-model="addData.userName" type="text" class="form-control" placeholder="Username"
              style="border-radius: 15px;">
          </div>
          <div class="form-group">
            <label for="Email">Email</label>
            <input v-model="addData.email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
              placeholder="Email">
          </div>
          <div>
            <p class="text-center">
            <a href="../index.html"  style="color: black;">
            < Tilbage til forsiden
          </a>
          </p>
          </div>
          <div class="d-flex justify-content-center">
            <a class="btn btn-dark btn-lg btn-block p-0 logindBtnStyle" @click="postLogin()" href="#!" role="button">
              <span style="font-size:smaller;">Log ind</span></a>
          </div>
          &nbsp;
          <div class="d-flex justify-content-center">
            <a class="btn btn-dark btn-lg btn-block p-0 createAccountBtnStyle" href="/Pages/createAccount.html"
              role="button">
              <span style="font-size:smaller;">Opret en konto</span></a>
          </div>

        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>

    <div class="row" style="margin:auto">
      <div class="col">
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--FOOTER-->
    <footer id="footer" class="footerStyling">
      <div class="container-fluid p-1">
        <div class="row" style="margin:auto">
          <div class="text-white p-3">
            Kontakt os <br>
            © 2023 Copyright: <br>
            <a class="text-white" href="https://mdbootstrap.com/">MitLift.dk</a>
          </div>
          <!-- Section: Social media section -->
          <section class="col-sm text-center">
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
          </section>
          <div class="p-3 text-white">
            <a class="text-white" href="/Pages/omOs.html">Om os</a> <br>
            Privatlivspolitik <br>
            <a class="text-white" href="/Pages/regel.html">Regler</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- FOOTER END -->
    <script src="/login.js"></script>
  </div>
</body>

</html>