<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/x-icon" href="/img/mit lift-logos_black fav_icon.png">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <!-- Add further Bootstrap links-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
  <!--Vue.js-->
  <script src="https://unpkg.com/vue@next"></script>
  <!--Own CSS link-->
  <link rel="stylesheet" href="../style.css">
  <title>Mine Side</title>
</head>

<body>
  <div id="createAccount">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark navStyling">
      <a class="navbar-brand" href="../index.html">
        <img style="height: 60px; width: auto;" src="/img/mit lift-logos_transparent.png" alt="png">
      </a>
      <a href="../index.html" class="styleNavDropdown">MitLift</a>&nbsp;
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span
          class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        </ul>
      </div>
      <div class="nav-item">
        <a class="styleNavDropdown mr-3" href="/Pages/login.html"> Log ind </a> <br>
        <a class="styleNavDropdown mr-3" href="/Pages/createAccount.html">Opret konto</a>
      </div>

      <div class="navbar position-relative top-0 end-0">
        <!-- Dropdown -->
        <a class="dropdown-toggle styleNavDropdown" href="#" id="navbardrop2" data-toggle="dropdown"
          animation-name="example">
          <img src="/img/Profile Pic Icon.png" width="45" height="50">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/Pages/mineKonto.html">Min side</a>
          <a class="dropdown-item" href="#">Log ud</a>
          <a class="dropdown-item" href="#">Hjælp</a>
        </div>
      </div>
    </nav>

    <div class="row" style="margin: auto">
      <div class="col-sm text-center">
        <img class="rounded-circle responsive m-4" src="/img/RandomPerson.png"
          style="max-height: 120px; width: auto;" />
        <h6 class="text-center">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h6>
        <h6 class="text-center">Kasper Øland</h6> <br>

      </div>
      <div class="col-sm m-1">
        <span class="d-flex justify-content-center" style="font-size:400%; color:yellow;">&bigstar;</span>
        <p class="font-weight-bold text-center">1</p>
        <p class="font-weight-bold text-center">Anbefalinger</p>
      </div>
      <div class="col-sm m-4">
        <i class="fa fa-car fa-4x text-danger d-flex justify-content-center"></i>
        <p class="font-weight-bold text-center">2</p>
        <p class="font-weight-bold text-center">Antal lift</p>
      </div>
      <div class="col-sm m-4">
        <i class="fa fa-tree fa-4x text-success d-flex justify-content-center"></i>
        <p class="font-weight-bold text-center">3</p>
        <p class="font-weight-bold text-center">CO2 besparelse i kg</p>
      </div>
    </div><!--ROW END-->
    <hr>
    <div class="row">
      <div class="col-sm col-md-3 col-lg-2 ml-3 colStyling">
        <h5 class="fw-semibold">Min Info</h5>
        <hr class="">
        <span class="fa fa-phone fa-1x"> &nbsp;+ 45 45258596</span> <br>
        <span class="fa fa-envelope fa-1x">&nbsp; Kasper00@gmail.com</span>
        <br>
        <span class="fa fa-user fa-1x">
          &nbsp;Lidt om mig&nbsp;
        </span>
        <div class="text-center border bg-white">
          Jeg er en fyr på 23 år, der giver et lift fra tid til anden
        </div>
        <br>
        <br>
      </div>
      &nbsp;
       <!-- Modal -->
       <!-- <div class="modal" id="exampleModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="titel">
                Er du helt sikker på at du vil slette bilen?</h5>
              <button type="button" class="close" 
              data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {{ carData }}
            <div class="modal-footer">
              <button class="btn btn-primary"
              v-on:click="deleteCar(carId); hideDeleteModal()">
                Slet den bil
              </button>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Modal V2 -->
      <div class="deletemodal" ref="deleteModal">
        <div class="modal-content">
          <h5 class="fw-semibold">Er du sikker på at den skal slettes?</h5>
          <button type="button" 
          class="btn btn-danger" style="margin: 5px;"
          v-on:click="deleteCar(); hideDeleteModal()">Ja</button>
            <button type="button" class="btn btn-dark" style="margin: 5px;"
             v-on:click="hideDeleteModal()">Anuller</button>
        </div>
      </div>
     
      <div class="col-sm col-md-4 col-lg-5 colStyling">
        <h5 class="fw-semibold">Egne biler</h5>
        <hr class="">
        
        <div class="card mb-2 zoom" v-for="car in cars">
          <div class="card-body border">
            <div class="card-text d-flex justify-content-between">
              <div class="col-sm">
                Bil Model: <br>
                Bil Mærke: <br>
                Brændstof: <br>
              </div>
              <div class="col-sm">
                {{ car.model }} <br>
                {{car.brand}} <br>
                {{car.fuelType}} <br>
              </div>
              <div class="mr-2">
                <div class="col-sm text-center">
                  <button id="" type="button" class="btn mr-2"
                    style="background-color: rgb(163, 247, 163); color: black;">
                    <i class="fa fa-solid fa-info"></i>
                  </button>
                </div>
                <br> 
                {{ car.carId }}
                <!-- Button Triggers Modal -->
                <div class="col-sm text-center">
                  <button id="deleteButton" 
                  v-on:click="showDeleteModal();
                  this.carToDeleteId = car.carId"  
                  type="button" 
                  class="btn btn-danger mr-2">
                    <i class="fa fa-sharp fa-solid fa-trash"></i>
                  </button>
                </div>
                <!-- {{ deleteMessage }} -->
                <br>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm pb-3 d-flex justify-content-end">
          <a href="/Pages/AddCar.html" type="button" class="btn btn-secondary ml-4">
            <i class="fa fa-plus"> Opret bil</i>
          </a>
        </div>
      </div>
      &nbsp;
      <div class="col-sm col-md-4 colStyling">
        <h5 class="fw-semibold">Bookninger</h5>
        <hr class="">
        <div class="card mb-2 zoom" v-for="car in carArray">
          <div class="card-body border">
            <div class="card-text d-flex justify-content-between">
              <div class="col-sm">
                Dato: <br>
                Start: <br>
                Slut: <br>
              </div>
              <div class="col-sm">
                {{ parseDate(car.driveDate) }} <br>
                {{ car.startDestination }} <br>
                {{ car.endDestination }} <br>
                {{ car.fuelType }} <br>
              </div>

              <div class="mr-2">
                <div class="col-sm text-center">
                  <button id="" type="button" class="btn mr-2"
                    style="background-color: rgb(163, 247, 163); color: black;">
                    <i class="fa fa-solid fa-info"></i>
                  </button>
                </div>
                <br>
                {{ car.carRideId }}
                <!-- Button Triggers Modal -->
              
                <div class="col-sm text-center">
                  <button id="deleteButton" 
                  v-on:click="showDeleteModal();
                  this.deleteCarRideId = car.carRideId" 
                  type="button"
                    class="btn btn-danger mr-2">
                    <i class="fa fa-sharp fa-solid fa-trash"></i>
                  </button>
                </div>
                {{deleteMessage}}
                <br>
                
              </div>
            </div>
          </div><!--ROW END-->
        </div>
        <div class="col-sm pb-3 d-flex justify-content-end">
          <a href="/Pages/mineLift.html" type="button" class="btn btn-secondary ml-4">
            <i class="fa fa-arrow">
              < Gå til bookinger</i>
                </span>
          </a>
        </div>
        <!-- </div> -->
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <!--FOOTER-->
    <footer id="footer" class="footerStyling">
      <div class="container-fluid p-1">
        <div class="row" style="margin:auto">
          <div class="text-white p-3">
            Kontakt os <br>
            © 2023 Copyright: <br>
            <a class="text-white" href="https://mdbootstrap.com/">MitLift.dk</a>
          </div>
          <!-- Section: Social media section -->
          <section class="col-sm text-center">
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
          </section>
          <div class="p-3 text-white">
            <a class="text-white" href="/Pages/omOs.html">Om os</a> <br>
            Privatlivspolitik <br>
            <a class="text-white" href="/Pages/regel.html">Regler</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- FOOTER END -->

  </div><!--app close-->
  <script src="/createAccount.js"></script>
</body>

</html>