<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <!-- Add further Bootstrap links-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
  <!--Vue.js-->
  <script src="https://unpkg.com/vue@next"></script>
  <!--Own CSS link-->
  <link rel="stylesheet" href="../style.css">
  <title>Mine Biler</title>
</head>

<body>
  <div id="createAccount">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark navStyling">
      <a class="navbar-brand" href="../index.html">
        <img style="height: 60px; width: auto;" src="/img/mit lift-logos_transparent.png" alt="png">
      </a>
      <a href="../index.html" class="text-white">MitLift</a>&nbsp;


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="../index.html">Find et lift</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/Pages/addLift.html">Opret et lift</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/Pages/AddCar.html">Opret bil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Pages/addLift.html">Opret lift</a>
          </li> -->
          <!-- Dropdown -->
          <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Opret
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Pages/AddCar.html">Opret bil</a>
                        <a class="dropdown-item" href="/Pages/addLift.html">Opret lift</a>
                    </div>
                </li> -->
        </ul>
      </div>
      <div class="navbar position-relative top-0 end-0">
        <ul class="navbar-nav">
          <li class="nav-item">
            <div v-if="!email">
              <script>
                function myFunction() { 
                  document.getElementById("mainFrameOne").style.display="none"; 
                  document.getElementById("mainFrameTwo").style.display="block"; 
                  
                }
                </script>
              
                  
                <a id="mainFrameOne" onclick="myFunction()" href="#">
                    log ind
                </a>
                <a id="mainFrameTwo" onclick="myFunction()" href="/index.html" style="display:none;">
                    log ud
                </a>
                

                
            <!-- <a class="styleNavDropdown" href="/Pages/login.html">Log ind</a> <br>
            </div>
              <div v-if="email">
            <button class="styleNavDropdown" @click="logud">Log ud</button>
            </div> -->
            <br>
            <a class="styleNavDropdown mr-3" href="/Pages/createAccount.html">Opret konto</a>
            </div> 
          </li>
        </ul>
        <!-- Dropdown -->
        <a class="dropdown-toggle styleNavDropdown" href="#" id="navbardrop2" data-toggle="dropdown"
          animation-name="example">
          <img src="/img/Profile Pic Icon.png" width="45" height="50">
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/Pages/mineBiler.html">Mine Biler</a>
          <a class="dropdown-item" href="/Pages/mineLift.html">Mine Lift</a>
          <a class="dropdown-item" href="/Pages/mineKonto.html">Min Konto</a>
          <a class="dropdown-item" href="/Pages/AddCar.html">Tilføj ny Bil</a>
          <a class="dropdown-item" href="#">Instillinger</a>
          <a class="dropdown-item" href="#">Log ud</a>
        </div>
      </div>
      <!-- <div class="nav-item d-flex justify-content-between"> -->
      <!--div class="nav-link text-white" href="">Mit Lift</div-->
      <!-- <div class="nav-link text-white" href="">Login</div>
    </div> -->
      <!-- <div class="d-flex justify-content-between text-white">
      <img src="/img/CarGenericHero.avif" class="rounded-circle" alt="car" style="height: 50px; width: auto;">
    </div> -->
    </nav><!--NAV SLUT-->

    <div class="row" style="margin: auto">
      <div class="col-sm text-center">
        <img class="rounded-circle responsive m-4" src="/img/RandomPerson.png" style="max-height: 120px; width: auto;" />
        <h6 class="text-center">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </h6>
        <h6 class="text-center">Kasper Øland</h6> <br>

      </div>
      <div class="col-sm m-1">
        <!-- <span class="star checked starStyling">★</span> -->
        <span class="d-flex justify-content-center" style="font-size:400%; color:yellow;">&bigstar;</span>
        <p class="font-weight-bold text-center">1</p>
        <p class="font-weight-bold text-center">Anbefalinger</p>
      </div>
      <div class="col-sm m-4">
        <i class="fa fa-car fa-4x text-danger d-flex justify-content-center"></i>
        <p class="font-weight-bold text-center">2</p>
        <p class="font-weight-bold text-center">Antal lift</p>
      </div>
      <div class="col-sm m-4">
        <i class="fa fa-tree fa-4x text-success d-flex justify-content-center"></i>
        <p class="font-weight-bold text-center">3</p>
        <p class="font-weight-bold text-center">CO2 besparelse i kg</p>
      </div>
    </div><!--ROW END-->

    <hr>
    <div class="container">
    <div class="row" style="margin: auto">
      &nbsp;
      <div class="col-sm-12 colStyling">

        <h5 class="font-weight-bold">Egne biler</h5>
        <div class="card mb-2 zoom" v-for="car in cars">
          <div style="background-color: rgb(240, 240, 240); border: 1px solid black;" class="card-body">
            <div class="card-text d-flex justify-content-between">
            
              <div class="col-sm">
                Car ID: <br>
                Car Model: <br>
                Car Mærke: <br>
                Brændstof: <br>
              </div>
              <div class="col-sm">
                {{ car.carId }} <br>
                {{ car.model }} <br>
                {{car.brand}} <br>
                {{car.fuelType}} <br>
              

              </div>
              <div class="mr-2">
                <div class="col-sm text-center">
                  <a class="btn btn-primary border btn-sm" href="#!" role="button"
                  style="background-color: rgb(180, 240, 180); color: black;">
                  <span style="font-size:smaller;">Info om bil</span>
                </a>
                  {{deleteMessage}}
                </div>
                <br>
                <div class="col-sm text-center">
                  <a class="btn btn-danger btn-sm" href="#!" role="button">
                    <span style="font-size:smaller;">Slet en bil</span>
                  </a>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
  <br><br>
    <!--ROW END-->
    <div class="row" style="margin:auto;">
      
        <div class="col-sm-4 ml-1">
          <h5 class="font-weight-bold">Min Info</h5>
          <div style="border-bottom: 1px solid black;"></div>
          <span class="fa fa-phone fa-1x"> &nbsp;+ 45 45258596</span> <br>
          <span class="fa fa-envelope fa-1x">&nbsp; Kasper00@gmail.com</span>
          <br>
          <span class="fa fa-user fa-1x">
            &nbsp;Lidt om mig
          </span>
          <div class="text-center colStyling">
            Jeg er en fyr på 23 år, der giver et lift fra tid til anden
          </div>
        </div>
        <div class="col-6">
        <div v-for="a in accountArray">
          &nbsp; &nbsp; ID:  {{ a.accountId}}
          &nbsp; &nbsp; User:  {{ a.userName}}
        </div>
        <br><br>
      </div>
      

      <div class="col-sm-12 colStyling">

        <h5 class="font-weight-bold">Bookninger</h5>
        <div class="card mb-2 zoom" v-for="car in carArray">
          <div style="background-color: rgb(240, 240, 240); border: 1px solid black;" class="card-body">
            <div class="card-text d-flex justify-content-between">
            
              <div class="col-sm">
                Dato: <br>
                Start: <br>
                Slut: <br>
              </div>
              <div class="col-sm">
                {{ car.driveDate }} <br>
                {{ car.startDestination }} <br>
                {{ car.endDestination }} <br>
                {{ car.fuelType }} <br>
              

              </div>
              <div class="mr-2">
                <div class="col-sm text-center">
                  <a class="btn btn-primary border btn-sm" href="#!" role="button"
                  style="background-color: rgb(180, 240, 180); color: black;">
                  <span style="font-size:smaller;">Info</span>
                </a>
                  {{deleteMessage}}
                </div>
                <br>
                <div class="col-sm text-center">
                  <a class="btn btn-danger btn-sm" href="#!" role="button">
                    <span style="font-size:smaller;">Slet</span>
                  </a>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
          
        <!-- </div> -->
      </div>
    </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--FOOTER-->
    <footer id="footer" class="footerStyling">
      <div class="container-fluid p-1">
        <div class="row" style="margin:auto">
          <div class="text-white p-3">
            Kontakt os <br>
            © 2023 Copyright: <br>
            <a class="text-white" href="https://mdbootstrap.com/">MitLift.dk</a>
          </div>
          <!-- Section: Social media section -->
          <section class="col text-center">
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
          </section>
          <div class="p-3 text-white">
            <a class="text-white" href="/Pages/omOs.html">Om os</a> <br>
            Privatlivspolitik <br>
            <a class="text-white" href="/Pages/Regler.html">Regler</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer END -->

  </div><!--app close-->
  <script src="/createAccount.js"></script>
</body>

</html>